name: "Volvo2Mqtt"
description: "Volvo AAOS MQTT bridge"
version: "1.10.5"
slug: "volvo2mqtt"
init: false
url: "https://github.com/Dielee/volvo2mqtt"
apparmor: true
codenotary: notary@home-assistant.io
services:
  - 'mqtt:need'
map: 
  - addons:rw
options:
  updateInterval: 300
  babelLocale: null
  TZ: null
  debug: false
  disable_logging: false
  mqtt:
    broker: "auto_broker"
    port: "auto_port"
    username: "auto_user"
    password: "auto_password"
  volvoData:
    username: null
    password: null
    vin: ""
    vccapikey:
        - null
schema:
  updateInterval: int(60,)
  babelLocale: str
  TZ: match(^.+/.+$)
  debug: bool
  disable_logging: bool
  mqtt:
    broker: str
    port: str
    username: str?
    password: str?
  volvoData:
    username: match(^([a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+)|(\+\d{5,20})$)
    password: str
    vin: str?
    vccapikey:
        - match(^\b\w{32}\b$)
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386